html {
  height: 100%;
  height: 100%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background-color: #050505;
  min-width: 100vh;
  color: #fff;
  font-size: 14px;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.header, .footer {

}
.footer {
  flex-shrink: 0;
}
main.content-main {
  flex-grow: 1;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
}
.logo {
  display: flex;
  width: 170px;
  height: 22px;
  gap: 10px;
  position: relative;
  z-index: 3;
}
.logo__link {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.logo__p2p {
  background-image: url(../images/p2p.svg);
  background-repeat: no-repeat;
  width: 36px !important;
  height: 22px;
  display: block;
}
.top__line {
  border-bottom:1px solid #39393B;
}
.header__left-butt {
  width: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__notification {
  width: 25px;
  height: 25px;
  background-image: url(../images/notification.svg);
  background-repeat: no-repeat;
  position: relative;
}
.header__profile {
  width: 40px;
  height: 40px;
  background-image: url(../images/avatars.svg);
  background-repeat: no-repeat;
}
.header__number {
  position: absolute;
  display: flex;
  padding: 0px var(--Spaceing-4px, 4px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--Spaceing-4px, 4px);
  background: #3B5AFF;
  color: var(--Icons-Primary, #FFF);
  font-family: "Nunito Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 150% */
  top: -7px;
  right: -7px;
}

/* header-main */

.header-main {
  min-height: 360px;
  margin-top: 213px;
  position: relative;
  z-index: 2;
}
.header-main::after {
  content: " ";
  background-image: url(../images/loadimg.svg);
  background-repeat: no-repeat;
  width: 550px;
  height: 548px;
  transform: rotate(15.01deg);
  position: absolute;
  top: -72.5px;
  right: -47px;
  z-index: -1;
}
.header-main__head {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 100.8px */
  letter-spacing: -0.84px;
}
.header-main__span {
  color: #3B5AFF;
}
.header-main__paragraph {
  width: 800px;
  color: #FFF;
  /* Paragraph/P2 */
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  margin-top: 20px;
}
.header-main__button {
  max-width: 220px;
  padding: 12px 16px;
  display: block;
  border-radius: 8px;
  background: #3B5AFF;
  text-align: center;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
  margin-top: 40px;
}
.component-icon__wrap {
  display: flex;
  margin-top: 140px;
  margin-bottom: 140px;
}
.component-icon__mod {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #212122;
  background: #161617;
  padding: 16px;
  /* margin: 16px; */
  background-repeat: no-repeat;
  background-position: 16px 16px;
  width: 80px;
  height: 80px;
}
.component-icon__mod + .component-icon__mod {
  margin-left: 16px;
}
.component-icon__mod::nth-child(1) {
  margin-left: -24px;
}
.component-icon__mod-0 {
  background-image: url(../images/сomponent0.svg);
}
.component-icon__mod-1 {
  background-image: url(../images/сomponent1.svg);
}
.component-icon__mod-2 {
  background-image: url(../images/сomponent2.svg);
}
.component-icon__mod-3 {
  background-image: url(../images/сomponent3.svg);
}
.component-icon__mod-4 {
  background-image: url(../images/сomponent4.svg);
}
.component-icon__mod-5 {
  background-image: url(../images/сomponent5.svg);
}
.component-icon__mod-6 {
  background-image: url(../images/сomponent6.svg);
}
.component-icon__mod-7 {
  background-image: url(../images/сomponent7.svg);
}
.component-icon__mod-8 {
  background-image: url(../images/сomponent8.svg);
}
.component-icon__mod-9{
  background-image: url(../images/сomponent9.svg);
}


/* advantages-block */

.advantages-block {
  margin-bottom: 60px;
}
.advantages__paragraph {
  color: var(--Text-Accent-Secondary, #536EFF);
  font-family: "Nunito Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; 
}
.advantages__head {
  color: var(--Text-Primary, #FFF);
  font-family: "Nunito Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 136% */
  letter-spacing: -0.5px;
  margin-top: 8px;
  margin-bottom: 60px;
}
.advantages__wrap {
  display: flex;
}
.advantages__open {
  background-image: url(../images/advanages-fon.jpg);
  background-repeat: no-repeat;
}
.advantages__block-img {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.advantages__block-img::after {
  content: "";
  position: absolute;
  width: 193.486px;
  height: 171.81px;
  transform: rotate(2deg);
  flex-shrink: 0;
  background-image: url(../images/podarok.png);
  background-repeat: no-repeat;
  bottom: -31px;
  right: 98px;
  z-index: 2;
}
.advantages__img {
  position: relative;
  z-index: 1;
}
.advantages__block-text {
  width: 50%;
  padding: 78px 64px 0 94px;
}
.advantages__block-head {
  color: var(--Text-Primary, #FFF);
  /* Headline/H4 */
  font-family: "Nunito Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 126.667% */
  margin-bottom: 16px;
}
.advantages__block-span {
  color: #6A82FF;
}
.advantages__block-paragr {
  color: var(--Text-Tertiary, #86868B);
  /* Paragraph/P2 */
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  margin-bottom: 24px;
}
.advantages__block-butt {
  display: flex;
  min-width: 220px;
  padding:  12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background:  #3B5AFF;
  border: 0;
  color: #fff;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-decoration: none;
  width: 220px;
}

/* money-blockW */

.money-block__wrap {
  display: flex;
  background-image: url(../images/advanages-fon.jpg);
  background-repeat: no-repeat;
}
.money-block__left {
  width: 50%;
  padding-top: 115px;
  padding-left: 64px;
}
.money-block__head {
  color: var(--Text-Primary, #FFF);
  /* Headline/H4 */
  font-family: "Nunito Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 126.667% */
}
.money-block__span {
  color: #6A82FF;

}
.money-block__paragraph {
  color: #86868B;
  /* Paragraph/P2 */
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  width: 528px;
  margin-top: 16px;
}
.money-block__right {
  width: 50%;
  position: relative;
  z-index: 1;
}
.money-block__right::after {
  content: "";
  width: 217.815px;
  height: 217.869px;
  transform: rotate(15.072deg);
  flex-shrink: 0;
  background-image: url(../images/shit.png);
  position: absolute;
  top: 0;
  right: 33px;
  z-index: 2;
}

/* add-functions */

.add-functions {
  margin-top: 140px;
  margin-bottom: 140px;
}
.add-functions__wrap {
  display: flex;
  padding: 36px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: var(--Radius-16px, 16px);
  background: rgba(59, 90, 255, 0.15);
  min-height: 110px;
}
.add-functions__left {
  width: 75%;
}
.add-functions__head {
  color: #6A82FF;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; 
  position: relative;
  margin-left: 52px;
}
.add-functions__head::after {
  content: "";
  height: 36px;
  width: 36px;
  background-image: url(../images/settings.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -52px;
}
.add-functions__paragraph {
  color: #6A82FF;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 
  max-width: 907px;
  margin-top: 16px;
}
.add-functions__right {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
.add-functions__link {
  display: flex;
  width: 250px;
  min-width: 220px;
  padding: var(--Spaceing-12px, 12px) var(--Spaceing-16px, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Spaceing-8px, 8px);
  border-radius: var(--Spaceing-8px, 8px);
  background: var(--Buttons-Primary, #3B5AFF);
  color: #fff;
  text-decoration: none;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

/* format-obmen */

.format-obmen__paragraph {
  color: #536EFF;
  font-family: "Nunito Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; 
}
.format-obmen__head {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; 
  letter-spacing: -0.5px;
  margin-bottom: 90px;
}
.format-obmen__wrap {
  display: flex;
}
.format-obmen__left {
  width: 55%;
  display: flex;
  justify-content: center;
  background-image: url(../images/exchange-fon.png);
  background-repeat: no-repeat;
}
.format-obmen__img {
  margin-top: 29px;
}
.format-obmen__right {
  width: 50%;
  margin-top: 143px;
  margin-left: 60px;
}
.format-obmen__block-head {
  color: var(--Text-Primary, #FFF);
  /* Headline/H4 */
  font-family: "Nunito Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 126.667% */
}
.format-obmen__block-paragr {
  color: #B1B1B9;
  /* Paragraph/P2 */
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  margin-top: 16px; 
}
.format-obmen__link {
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 220px;
  border-radius: 8px;
  background: #3B5AFF;
  text-decoration: none;
  margin-top: 24px;
}


.kurs-obmen {
  margin-top: 60px;
}
.container {
}
.kurs-obmen__wrap {
  display: flex;
}
.kurs-obmen__left {
  width: 45%;
  padding-top: 156px;
  padding-right: 43px;
}
.kurs-obmen__head {
  color: var(--Text-Primary, #FFF);
  /* Headline/H4 */
  font-family: "Nunito Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 126.667% */
}
.kurs-obmen__paragraph {
  color: var(--Text-Secondary, #B1B1B9);
  /* Paragraph/P2 */
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  margin-top: 16px;
  margin-bottom: 16px;
}
.kurs-obmen__group-butt {
  display: flex;
  gap: 12px;
}
.kurs-obmen__anonim {
  width: 94px;
  height: 18px;
  display: flex;
  padding: var(--Spaceing-6px, 6px) var(--Spaceing-8px, 8px);
  align-items: center;
  gap: var(--Spaceing-6px, 6px);
  color: var(--Text-Tertiary, #86868B);
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  border-radius: var(--Spaceing-8px, 8px);
  background: var(--Font-Black, #262626);
  padding-left: 32px;
  position: relative;
}
.kurs-obmen__anonim::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../images/anonymous-icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  left: 8px;
}
.kurs-obmen__aml {
  width: 151px;
  display: flex;
  padding: var(--Spaceing-6px, 6px) var(--Spaceing-8px, 8px);
  align-items: center;
  gap: var(--Spaceing-6px, 6px);
  border-radius: var(--Spaceing-8px, 8px);
  background: #202F40;
  color: #2E8EFF;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; 
  padding-left: 32px;
  position: relative;
}
.kurs-obmen__aml::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../images/security-safe.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  left: 8px;
}
.kurs-obmen__antiswap {
  display: flex;
  padding: var(--Spaceing-6px, 6px) var(--Spaceing-8px, 8px);
  gap: var(--Spaceing-6px, 6px);
  border-radius: var(--Spaceing-8px, 8px);
  color: var(--Icons-Active-Secondary, #536EFF);
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  background-color: #202F40;
  width: 130px;
  padding-left: 32px;
  position: relative;
}
.kurs-obmen__antiswap::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../images/bitcoin-convert.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  left: 8px;
}
.kurs-obmen__right {
  background-image: url(../images/kurs-obmena-fon.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  width: 55%;
  padding-top: 52px;
  padding-left: 47px;
  display: flex;
  justify-content: flex-end;
}

/* principles */
.principles {
  margin-top: 140px;
  margin-bottom: 140px;
}
.principles__paragraph {
  color: var(--Text-Accent-Secondary, #536EFF);
  /* Paragraph/P1 */
  font-family: "Nunito Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 145.455% */
}
.principles__head {
  color: var(--Text-Primary, #FFF);
  /* Headline/H2 */
  font-family: "Nunito Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 136% */
  letter-spacing: -0.5px;
  margin-bottom: 60px;
}
.principles__wrap {
  display: flex;
  gap: 24px;
}
.principles__left {
  background-image: url(../images/bg-left.png);
  background-repeat: no-repeat;
  padding: 0 36px 36px;
}
.principles__left-img {
  margin: 54px auto 0;
  display: block;
  width: 445px;
  height: 506px;
}
.principles__left-head {
  color: var(--Text-Primary, #FFF);
  /* Headline/H3 */
  font-family: "Nunito Sans";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 142.105% */
  margin-top: 30px;
}
.principles__left-paragr {
  color: var(--Text-Tertiary, #86868B);
  /* Paragraph/P2 */
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
.principles__right {
  background-image: url(../images/bg-right.png);
  background-repeat: no-repeat;
  padding-top: 41px;
  padding: 0 36px 36px;
}
.principles__right-img {
  margin: 50px auto 0;
  display: block;
  width: 400.924px;
  height: 505.436px;
}
.principles__right-head {
  color: var(--Text-Primary, #FFF);
  /* Headline/H3 */
  font-family: "Nunito Sans";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 142.105% */
  margin-top: 30px;
}
.principles__right-paragr {
  color: var(--Text-Tertiary, #86868B);
  /* Paragraph/P2 */
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

/* create-antiswap */

.create-antiswap {
  margin-bottom: 140px;
  max-height: 360px !important; 
}
.create-antiswap__wrap {
  background-image: url(../images/create-antiswap.png);
  padding: 24px;
  height: 312px;
}
.create-antiswap__head {
  width: 904px;
  color: var(--Text-Primary, #FFF);
  text-align: center;
  /* Headline/H3 */
  font-family: "Nunito Sans";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 142.105% */
  margin: 0 auto;
  margin-top: 54px;
}
.create-antiswap__link {
  width: 240px;
  min-width: 220px;
  padding: var(--Spaceing-12px, 12px) var(--Spaceing-16px, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Spaceing-8px, 8px);
  border-radius: var(--Spaceing-8px, 8px);
  background: var(--Buttons-Primary, #3B5AFF);
  display: block;
  margin: 0 auto;
  overflow: hidden;
  color: var(--Text-Primary, #FFF);
  text-overflow: ellipsis;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-align: center;
  text-decoration: none;
  margin-top: 48px;
}

/* footer */

.footer {
  height: 187px;
  border-top: 1px solid #39393B;
}
.footer__wrap {
}
.footer__top {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  justify-content: center;
}
.footer__telegram {
  width: 31px;
  height: 26px;
  background-image: url(../images/footer__telegram.svg);
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #39393B;
  height: 87px;
  align-items: center;
}
.footer__copyright {
  color: var(--Text-Tertiary, #86868B);
  /* Paragraph/P4 */
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.footer__group {
  display: flex;
  gap: 40px;
}
.footer__rules {
  color: var(--Text-Tertiary, #86868B);
  /* Paragraph/P4 */
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  text-decoration: none;
}
.footer__condition {
  color: var(--Text-Tertiary, #86868B);
  /* Paragraph/P4 */
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  text-decoration: none;
}

/* End landing-page */

/* Sign-up-exchange - page */
.wrapper-backgroung {
  width: 100%;
  height: 100vh;
  background-image: url(../images/backgroung-sing-up.jpg);
  background-position: 0 0;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  z-index: 1;
}
.modal-header {
  height: 68px;
  padding-left: 50px;
  display: flex;
  align-items: end;
  position: absolute;
}
.modal-window {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.premodal-window {
}
.modal-window__wrap {
  padding: 36px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 530px;
  border-radius: 16px;
  background: #161617;
  box-shadow: 0px 72px 132px 0px rgba(5, 29, 61, 0.06);
}
.modal-window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modal-window__header__mod {
  justify-content: center !important;
}
.modal-window__title {
  color: var(--Text-Primary, #FFF);
  /* Headline/H4 */
  font-family: "Nunito Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 126.667% */
}
.modal-window__login-link {
  min-width: 70px;
  display: block;
  overflow: hidden;
  color: var(--Text-Accent-Secondary, #536EFF);
  text-overflow: ellipsis;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-decoration: none;
  position: relative;
  text-align: right;
}
.modal-window__login-page {
  padding: 0 0 0 28px;
  min-width: 70px;
  display: block;
  overflow: hidden;
  color: var(--Text-Accent-Secondary, #536EFF);
  text-overflow: ellipsis;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-decoration: none;
  position: relative;
  text-align: right;
  width: 190px;
}
.modal-window__login-link::after, .modal-window__login-page::after{
  position: absolute;
  left: 0px;
  top: 4px;
  content: "";
  background-image: url(../images/arrow-swap-horizontal.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  z-index: 5;
}
.modal-window__login-page::after {
  left: 6px;
}
.sign-up__form {
  margin-top: 40px;
  box-sizing: border-box;
  width: 100%;
}
.sign-up__name-obmen {
  border-radius: 8px;
  border: 1px solid #39393B;
  background-color: transparent;
  display: block;
  height: 48px;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  color: #86868B;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  padding: 0 16px;
  width: 100%;
}
.sign-up__name-text {
  color: #86868B;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 150% */
  margin-top: 6px;
}
.sign-up__login {
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid #39393B;
  background-color: transparent;
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  width: 100%;
  overflow: hidden;
  color: #86868B;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.sign-up__login-text {
  color: #86868B;
  /* Caption/C2 */
  font-family: "Nunito Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 150% */
  margin-top: 6px;
}
.sign-up__email {
  margin-top: 24px;
  border-radius: 8px;
  display: flex;
  border: 1px solid #39393B;
  padding: 12px 16px;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  color: #86868B;
  text-overflow: ellipsis;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  background-color: transparent;
  width: 100%;
}
.sign-up__email-page {
  margin-top: -10px !important;
}
.warning-input {
  border: 1px solid #FF4646 !important;
}
.warning-text {
  color: #FF4646 !important;
}
.sign-up__groupeye {
  position: relative;
}
.sign-up__eye {
  width: 22px;
  height: 22px;
  background-image: url(../images/eye.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 12px;
  right: 13px;
  cursor: pointer;
}
.sign-up__email-text {
  color: #86868B;
  /* Caption/C2 */
  font-family: "Nunito Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 150% */
  margin-top: 6px;
}
.sign-up__name-pass {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #39393B;
  width: 100%;
  background: #161617;
  margin-top: 24px;
  overflow: hidden;
  color: #86868B;
  text-overflow: ellipsis;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.sign-up__group {
  margin-top: 24px;
}
.sign-up__checkbox {

}
.sign-up__check-label {
  color: var(--Text-Tertiary, #86868B);
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.sign-up__button {
  margin-top: 24px;
  border-radius: var(--Spaceing-8px, 8px);
  background: var(--Buttons-Primary, #3B5AFF);
  border: 0;
  display: flex;
  min-width: 220px;
  width: 100%;
  padding: var(--Spaceing-12px, 12px) var(--Spaceing-16px, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Spaceing-8px, 8px);
  align-self: stretch;
  overflow: hidden;
  color: var(--Text-Primary, #FFF);
  text-overflow: ellipsis;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  cursor: pointer;
}
.sign-up__create-accouunt {
  border-radius: 8px;
  background: #262628;
  display: flex;
  min-width: 220px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  margin-top: 16px;
}
.modal-window__registr-now {
  border-top: 1px solid #39393B;
  display: block;
  width: 100%;
  margin-top: 32px;
}
.modal-window__registr-paragr {
  color: #86868B;
  text-align: center;
  /* Paragraph/P4 */
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  width: 230px;
  margin: 0 auto;
  color: #86868B;
  text-align: center;
  /* Paragraph/P4 */
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  background-color: #161617;
  margin-top: -10px;
  padding: 0 10px;
}
.modal-window__registr-link {
  color: #B1B1B9;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration-line: underline;
}
.modal-window__login-telegram {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px 13px 12px 11px;
  justify-content: center;
  align-items: center;
  background-image: url(../images/sign-up-telegram.svg);
  border-radius: 200px;
  background-color: #2AABEE; /*#229ED9  */
  background-repeat: no-repeat;
  background-position:  43% 50%;
  justify-content: center;
  margin-top: 16px;
}
.modal-window__pretelegram {
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal-window__prereset {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}
.modal-window__button-reset {
  color: var(--Text-Tertiary, #86868B);
  text-align: center;
  /* Paragraph/P3 */
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-decoration: none;
  border-bottom: 1px dashed #86868B;
}
.sign-up__subtext {
  color: var(--Text-Tertiary, #86868B);
  /* Headline/H8 */
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  margin: 4px 0 -29px 0;
}
.modal-window__text-recovery {
  color: var(--Text-Tertiary, #86868B);
  text-align: center;
  /* Paragraph/P2 */
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  max-width: 100%;
  padding: 0 20px;
  margin-top: 40px;
}
.modal-window__head-recovery {
  color: var(--Text-Primary, #FFF);
  /* Headline/H6 */
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 25px;
}
.sign-up__groupinput {
  width: 280px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.sign-up__code-input {
  width: 49px;
  height: 56px;
  background-color: transparent;
  border-radius: var(--Spaceing-8px, 8px);
  border: 1px solid var(--Border-Primary, #39393B);
  color: var(--Text-Tertiary, #86868B);
  text-align: center;
  /* Paragraph/P2 */
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
.modal-window__repeat {
  color: var(--Text-Tertiary, #86868B);
  text-align: center;
  /* Paragraph/P4 */
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  margin: 25px 0 40px 0;
  display: block;
  text-decoration: none;
}

/* Page Main-Desktop */

.precontent-desktop {
  display: grid;
  grid-template-columns: 340px 880px;
  column-gap: 60px;
}

.content-desktop__left{
  background-color: #161617;
  flex-grow: 1;
  padding: 20px 20px 0;
}
.content-desktop__right {
  min-height: 200px;
  margin-bottom: 60px;
}
.left-panel__head {
  margin: 10px 0 40px;
  font-family: "Nunito Sans";
  font-size: 22px;
  font-weight: bold;
}
.left-panel__block-avatar {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #262628;
  padding-bottom: 24px;
}
.left-panel__avatar {
  width: 56px;
}
.left-panel__avatar-text {
  width: 228px;
}
.left-panel__avatar-name {
  height: 28px;
  display: flex;
  align-items: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: bold;
}
.left-panel__avatar-email {
  height: 24px;
  display: flex;
  align-items: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  color: #86868B;
  margin-top: 4px;
}

.left-panel__list {
}
.left-panel__prelist {
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #262628;
}
.left-panel__list-item {
  list-style: none;
  display: flex;
  gap: 16px;
  height: 62px;
  padding: 10px;
  position: relative;
}
.left-panel__wrap-img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #212122;
}
.left-panel__img-user {
  width: 24px;
  height: 24px;
}
.left-panel__wrap-link {
  display: flex;
  align-items: center;
}
.left-panel__list-link { 
  text-decoration: none;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.left-panel__list-number {
}
.left-panel__list-number {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #212122;
  top: 15px;
  right: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.left-panel__butt-telegramm {

}
.left-panel__telegram-link {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 60px;
  background: rgba(42, 171, 238, 0.15);
  border-radius: 12px;
  line-height: 60px;
  color: #2AABEE;
  text-decoration: none;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: bold;
  padding-left: 77px;
  position: relative;
}
.left-panel__telegram-link::after{
  content: "";
  background-image: url(../images/leftpanel-telegram.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 17px;
  position: absolute;
  top:21px;
  left: 39px;
}
.left-panel__logout-link {
  width: 170px;
  height: 24px;
  margin: 0 auto;
  display: block;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  color: #FF4646;
  text-decoration: none;
  text-align: right;
  position: relative;
  line-height: 20px;
  margin-bottom: 24px;
}
.left-panel__logout-link::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../images/log-out.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.exchange__head {
  font-family: "Nunito Sans";
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.exchange__list {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0 33px 0 0px;
}
.exchange__item {
  padding-right: 10px;
  position: relative;
  height: 35px;
  display: flex;
  align-items: flex-start;
}
.exchange__item-link {
  font-family: "Nunito Sans";
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #86868B;
  text-decoration: none;
  background-color: transparent;
  border: 0;
}
.exchange__item-count {
  /* position: absolute;
  top: 3px;
  right: 0px; */
  padding: 2px 6px;
  border-radius: 6px;
  background-color: #86868B;
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  margin-top: 2px;
  margin-left: 6px;
}
.active-exchange-link, .tab-btn-active {
  color: #536EFF;
}
.active-exchange-bg {
  background-color: #536EFF;
} 
.active-exchange-border {
  border-bottom: 2px solid #536EFF;
}

.exchange-field {
  height: 120px;
  width: 100%;
  border-radius: 16px;
  background-color: #161617;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.exchange__action {
  font-family: "Nunito Sans";
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  padding-left: 32px;
  margin: 24px 0;
  position: relative;
}
.exchange__action::before {
  content:"";
  position: absolute;
  background-image: url(../images/lightning.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  top: 6px;
  left: 7px;
}

.exchange__group-left {
  width: 320px;
}
.exchange__group-top {
  display: flex;
  gap: 16px;
}
.exchange__group-one {
  padding: 14px 16.5px;
  border-radius: 48px;
  background-color: #FF53D9;
  font-family: "Nunito Sans";
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}
.exchange__group-two {
}
.exchange__group-bottom {
  display: flex;
  gap: 38px;
}
.exchange__group-right {
  width: 208px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-end;
}
.exchange__number-id {
  font-family: "Nunito Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #86868B;
}
.exchange__user {
  font-family: "Nunito Sans";
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
}
.exchange__group-span {
  margin-top: 12px;
  font-family: "Nunito Sans";
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
  position: relative;
}
.exchange__group-span + .exchange__group-span::after {
  content: "";
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -28px;
  top: 4px;
  width: 18px;
  height: 18px;
}
.exchange__label-link {
  width: 208px;
  height: 32px;
  padding: 4px 8px 4px 32px;
  background: linear-gradient(180deg, rgba(46, 142, 255, 0.15) 0%, rgba(46, 142, 255, 0.00) 100%);
  line-height: 32px;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  position: relative;
  border-radius: 8px;
  text-decoration: none;
  color: #2E8EFF;
  display: block;
}
.exchange__label-link::before {
  content: "";
  background-image: url(../images/card-edit.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 6px;
  left: 9px;
}
.exchange__label-appeal {
  width: auto;
  height: 32px;
  padding: 4px 8px 4px 32px;
  background: rgba(255, 70, 70, 0.15);
  line-height: 24px;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  position: relative;
  border-radius: 8px;
  text-decoration: none;
  color: #FF4646;
  display: block;
}
.exchange__label-appeal::before {
  content: "";
  background-image: url(../images/appeal.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 6px;
  left: 9px;
}
.exchange__label-requisites {
  width: auto;
  height: 32px;
  padding: 4px 8px 4px 32px;
  background: rgba(134, 134, 139, 0.15);
  line-height: 24px;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  position: relative;
  border-radius: 8px;
  text-decoration: none;
  color: #B1B1B9;
  display: block;
}
.exchange__label-requisites::before {
  content: "";
  background-image: url(../images/card-edit-green.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 6px;
  left: 9px;
}
.exchange__comment-link {
  font-family: "Nunito Sans";
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #D0B1B1;
  text-decoration: none;
  padding-left: 30px;
  height: 28px;
  display: flex;
  align-items: center;
}
.exchange__comment-span__active {
  background-image: url(../images/icon-message-active.svg);
  background-repeat: no-repeat;
  margin: 2px 6px 2px;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.exchange__comment-span {
  background-image: url(../images/icon-message.svg);
  background-repeat: no-repeat;
  margin: 2px 6px 2px;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.exchange-field + .exchange-field {
  margin-top: 16px;
}

.tab-pane:not(.tab-pane-show) {
  display: none;
}

.exchange__action-time {
  font-family: "Nunito Sans";
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  padding-left: 40px;
  margin: 24px 0;
  position: relative;
}
.exchange__action-time::before {
  content:"";
  position: absolute;
  background-image: url(../images/card-coin.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  top: 6px;
  left: 7px;
}
.header-exchange {
  margin: 80px 0 40px 0;
  font-family: "Nunito Sans";
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
}
.block-exchange {
  display: grid;
  grid-template-columns: 65% 33.4%;
  column-gap: 20px;
}
.block-exchange__left {
  background-color: #161617;
  border-radius: 24px;
}
.block-exchange__right {
  background-color: #161617;
  border-radius: 24px;
}

.block-exchange__header {
  display: flex;
  justify-content: space-between;
  height: 136px;
  margin-bottom: 16px;
  padding: 24px;
  border-bottom: 1px solid #262628;
}
.block-exchange__header-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}
.block-exchange__left-head {
  font-family: "Nunito Sans";
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}
.block-exchange__label-link {
  width: 208px;
  height: 32px;
  padding: 4px 8px 4px 32px;
  background: rgba(46, 142, 255, 0.25);
  line-height: 24px;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  position: relative;
  border-radius: 8px;
  text-decoration: none;
  color: #2E8EFF;
  display: block;
  margin-top: 8px;
}
.block-exchange__label-link::before {
  content: "";
  background-image: url(../images/card-edit.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 6px;
  left: 9px;
}
.block-exchange__header-link {
  width: 176px;
  height: 34px;
  color: #FF4646;
  border: 1px solid #FF4646;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  line-height: 18px;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 600;
}